<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.tju.ssm.mapper.TbSchoolActivityMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.tju.ssm.po.TbSchoolActivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="schoolId" property="schoolid" jdbcType="INTEGER" />
    <result column="discount" property="discount" jdbcType="VARCHAR" />
    <result column="groupon" property="groupon" jdbcType="VARCHAR" />
    <result column="other" property="other" jdbcType="VARCHAR" />
    <result column="from_time" property="fromTime" jdbcType="TIMESTAMP" />
    <result column="to_time" property="toTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, schoolId, discount, groupon, other, from_time, to_time, status, ts
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.tju.ssm.po.TbSchoolActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_school_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_school_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_school_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.tju.ssm.po.TbSchoolActivityExample" >
    delete from tb_school_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.tju.ssm.po.TbSchoolActivity" >
    insert into tb_school_activity (id, schoolId, discount, 
      groupon, other, from_time, 
      to_time, status, ts
      )
    values (#{id,jdbcType=INTEGER}, #{schoolid,jdbcType=INTEGER}, #{discount,jdbcType=VARCHAR}, 
      #{groupon,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{fromTime,jdbcType=TIMESTAMP}, 
      #{toTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{ts,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.tju.ssm.po.TbSchoolActivity" >
    insert into tb_school_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolid != null" >
        schoolId,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="groupon != null" >
        groupon,
      </if>
      <if test="other != null" >
        other,
      </if>
      <if test="fromTime != null" >
        from_time,
      </if>
      <if test="toTime != null" >
        to_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolid != null" >
        #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=VARCHAR},
      </if>
      <if test="groupon != null" >
        #{groupon,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="fromTime != null" >
        #{fromTime,jdbcType=TIMESTAMP},
      </if>
      <if test="toTime != null" >
        #{toTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.tju.ssm.po.TbSchoolActivityExample" resultType="java.lang.Integer" >
    select count(*) from tb_school_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_school_activity
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.schoolid != null" >
        schoolId = #{record.schoolid,jdbcType=INTEGER},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=VARCHAR},
      </if>
      <if test="record.groupon != null" >
        groupon = #{record.groupon,jdbcType=VARCHAR},
      </if>
      <if test="record.other != null" >
        other = #{record.other,jdbcType=VARCHAR},
      </if>
      <if test="record.fromTime != null" >
        from_time = #{record.fromTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.toTime != null" >
        to_time = #{record.toTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.ts != null" >
        ts = #{record.ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_school_activity
    set id = #{record.id,jdbcType=INTEGER},
      schoolId = #{record.schoolid,jdbcType=INTEGER},
      discount = #{record.discount,jdbcType=VARCHAR},
      groupon = #{record.groupon,jdbcType=VARCHAR},
      other = #{record.other,jdbcType=VARCHAR},
      from_time = #{record.fromTime,jdbcType=TIMESTAMP},
      to_time = #{record.toTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      ts = #{record.ts,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.tju.ssm.po.TbSchoolActivity" >
    update tb_school_activity
    <set >
      <if test="schoolid != null" >
        schoolId = #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=VARCHAR},
      </if>
      <if test="groupon != null" >
        groupon = #{groupon,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="fromTime != null" >
        from_time = #{fromTime,jdbcType=TIMESTAMP},
      </if>
      <if test="toTime != null" >
        to_time = #{toTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.tju.ssm.po.TbSchoolActivity" >
    update tb_school_activity
    set schoolId = #{schoolid,jdbcType=INTEGER},
      discount = #{discount,jdbcType=VARCHAR},
      groupon = #{groupon,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      from_time = #{fromTime,jdbcType=TIMESTAMP},
      to_time = #{toTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      ts = #{ts,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>